<h1>سلااااااااام، خوش اومدی</h1>
<p>این فقط یه تسک خیلی بیسیک هستش. (MVP)</p>

<p>جزئیات:</p>
<ul>
  <li>یک مدیر و چند کارمند داریم.</li>
  <li>در جلسات روزانه لیست فعالیتهای کارمندان مشخص میشود .</li>
  <li>کارمندان از لیست فعالیتها کارهای تمام شده را اعلام میکنند .</li>
  <li>مدیر باید لیست فعالیتها را ببیند و از اتمام آنها مطلع شود .</li>
  <li>مدیر باید بتواند لیست فعالیتهای کارمندان را برحسب اولویت جابه جا کند .</li>
</ul>
<p> <strong>توسعه داده شده توسط امیرمهدی فتحی</strong></p>
